.navbar{
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.27);
    padding: 0.3rem 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    /* margin: 5px; */
}

.navbar h1{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px;
    border-radius: 8px;
    color: #333;
    cursor: pointer;
    margin: 5px;
    background-color: aqua;
}
.navbar svg{
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.navbar .cart{
    background-color: aqua;
    border-radius: 5px;
    position: relative;
    margin: 0px 20px;
    cursor: pointer;
}

.navbar .cart .cartCount{
    position: absolute;
    top: -6px;
    right: -5px;
    background-color: #333;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

